#right-menu {
	width: 20%;
	display: flex;
	padding-right: 1.5%;
	padding-top: 0.5%;
}

#task-container {
	width: 100%;
}

#task-box {
	width: 100%;
	display: flex;
}

input {
	width: 100%;
}

.task {
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	user-select: none;
}

.content {
	word-wrap: break-word;
	width: 90%;
}

.close {
	width: 10%;
	cursor: pointer;
}

#create-task {
	padding: 10px 10px 15px 10px;
	margin: 0;
}

#is-empty,
#is-created,
#is-saved {
	margin: 0;
	display: none;
	color: red;
	position: relative;
}

.show-empty,
.show-created {
	display: block !important;
}
